<launch>
  <!-- Load the YAML world boundary file -->
  <rosparam file="$(find ros_car_cmd)/config/world_bounds.yaml"/>

  <!-- Launch Gazebo GUI -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="world_name" default="$(find ros_car_description)/worlds/custom_world.sdf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Obstacle Spwawn -->
  <!-- <node name="spawn_obstacles" pkg="ros_car_description" type="spawn_obstacles.py" output="screen"/> -->

  <!-- Robot Spawn -->
  <param name="robot_description" command="$(find xacro)/xacro $(find ros_car_description)/urdf/ros_car.xacro" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_sim_time" value="true"/>
    <param name="use_tf_static" type="bool" value="true"/>
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="robot_description" textfile="$(find ros_car_description)/urdf/ros_car.xacro"/>
  </node>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf
              -param robot_description
              -model ros_car
              -x 0 -y 0 -z 0.1" />
</launch>
