<launch>
  <!-- Load the YAML parameter file -->
  <rosparam file="$(find ros_car_cmd)/config/start_params.yaml"/>

  <!-- Startup the reset_pose_server node -->
  <node pkg="ros_car_cmd" type="reset_pose_service.py" name="reset_pose_service" output="screen">
    <param name="reset_pose" value="true"/>
  </node>
</launch>
