<launch>
  <!-- Launch the Gazebo and Robot statup -->
  <include file="$(find ros_car_description)/launch/custom_gazebo.launch"/>

  <!-- Startup Waypoint Manager -->
  <node pkg="ros_car_cmd" type="waypoint_manager.py" name="waypoint_manager" output="screen">
    <rosparam file="$(find ros_car_cmd)/config/world_bound.yaml" command="load"/>
    <rosparam file="$(find ros_car_cmd)/config/secret_key.yaml" command="load"/>
  </node>

  <!-- Startup Waypoint Navigator -->
  <node pkg="ros_car_cmd" type="waypoint_navigator.py" name="waypoint_navigator" output="screen">
    <rosparam file="$(find ros_car_cmd)/config/car_params.yaml" command="load"/>
    <rosparam file="$(find ros_car_cmd)/config/secret_key.yaml" command="load"/>
  </node>

  <!-- Startup Waypoint Visualizer -->
  <node pkg="ros_car_cmd" type="waypoint_visualizer.py" name="waypoint_visualizer" output="screen">
    <rosparam file="$(find ros_car_cmd)/config/secret_key.yaml" command="load"/>
  </node>

  <!-- Startup RViz -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find ros_car_description)/config/custom.rviz"/>
</launch>
