<launch>
  <!-- Include the Gazebo and Robot startup -->
  <include file="$(find ros_car_description)/launch/custom_gazebo.launch"/>

  <!-- Include the commons params -->
  <include file="$(find ros_car_control)/launch/ros_car_bringup.launch"/>

  <!-- Startup autonomus waypoint mode -->
  <node pkg="ros_car_cmd" type="waypoint_manager.py" name="waypoint_manager" output="screen"/>
  <node pkg="ros_car_cmd" type="waypoint_navigator.py" name="waypoint_navigator" output="screen"/>
  <node pkg="ros_car_cmd" type="waypoint_visualizer.py" name="waypoint_visualizer" output="screen"/>

  <!-- Startup odom publisher node -->
  <node pkg="ros_car_cmd" type="odom_publisher.py" name="odom_publisher" output="screen" />

  <!-- Startup RViz with markers -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen"/>

  <!-- Startup ROS Bridge server (websocket) -->
  <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_server"/>
</launch>
