<launch>
  <!-- Include the Gazebo and Robot startup -->
  <include file="$(find ros_car_description)/launch/custom_gazebo.launch"/>

  <!-- Include the commons params -->
  <node pkg="ros_car_teleop" type="teleop_node.py" name="teleop_node" output="screen"/>

  <!-- Startup Waypoint Manager -->
  <node pkg="ros_car_cmd" type="waypoint_manager.py" name="waypoint_manager" output="screen">
    <rosparam file="$(find ros_car_cmd)/config/world_bound.yaml"/>
    <rosparam file="$(find ros_car_cmd)/config/secret_key.yaml"/>
  </node>

  <!-- Startup Waypoint Visualizer -->
  <node pkg="ros_car_cmd" type="waypoint_visualizer.py" name="waypoint_visualizer" output="screen">
    <rosparam file="$(find ros_car_cmd)/config/secret_key.yaml"/>
  </node>
  
  <!-- Startup RViz -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find ros_car_description)/config/default.rviz"/>

  <!-- Startup ROS Bridge server (websocket) -->
  <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_server"/>
</launch>
