<launch>
  <!-- Load Parameters (if not already loaded) -->
  <param from="$(find ros_car_control)/config/car_params.yaml" command="load"/>

  <!-- Startup waypoint_manager node-->
  <node pkg="ros_car_control" type="waypoint_manager.py" name="waypoint_manager" output="screen">
    <param name="use_sim_time" value="true"/>
  </node>
</launch>
